@import 'partials/colours';
@import 'partials/sizings';
@import 'partials/fonts';
@import 'partials/media';

body{
    padding: 0;
    margin: 0;
}

html, body, #mapid{
    height: 100%;
    width: 100vw
}

.leaflet-marker-icon{
    fill: green;
}

.route-list{
    ul{
        li{
            list-style: none;
            font-size: 1rem;
            a{

            }
        }
    }
}